$oki-primary: #69b93b;
$oki-darkgrey: rgb(45, 45, 45);

$oki-cookie-bar-bg-colour: $oki-darkgrey !default;
$oki-cookie-bar-text-colour: #fff !default;
$oki-cookie-bar-button-bg-colour: $oki-primary !default;
$oki-cookie-bar-button-text-colour: #fff !default;
$oki-cookie-bar-button-border-radius: 1px !default;
$oki-cookie-bar-font-size: 14px !default;
$oki-cookie-bar-breakpoint: 600px !default;

.oki-cookie-bar {
  position: fixed;
  bottom: 0;
  width: 100%;

  #oki-cookie-got-it {
    display: none;

    &:checked + div {
      transform: translateY(101%);
    }
  }

  & > div {
    background-color: $oki-cookie-bar-bg-colour;
    color: rgba($oki-cookie-bar-text-colour,0.7);
    padding: 20px;
    font-size: $oki-cookie-bar-font-size;
    line-height: 1.3;
    transform: translateY(0px);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5 ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;

    a {
      color: $oki-cookie-bar-text-colour;
      text-decoration: none;
    }

    label {
      color: $oki-cookie-bar-text-colour;
      cursor: pointer;

      @media screen and (min-width: $oki-cookie-bar-breakpoint) {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $oki-cookie-bar-button-bg-colour;
        color: $oki-cookie-bar-button-text-colour;
        padding: 6px 10px;
        border-radius: $oki-cookie-bar-button-border-radius;
      }
    }
  }
}
